<div class="budgets__header">
  <h1>Budgets</h1>
  <button>+Add New Budget</button>
</div>
<div class="budgets__content-container">
  <div class="budgets__graph-container">
    <div class="budgets__graph">
      <div
        class="budgets__outer-graph"
        [ngStyle]="{
          'background':
            'conic-gradient(var(--color-dark-green) 30%, var(--color-cyan) 30% 85%, var(--color-yellow) 85%)',
          'borderRadius': '50%',
          'clipPath': 'circle(50% at 50% 50%)',
        }"
      >
        <div class="budgets__middle-graph">
          <div class="budgets__inner-graph">
            <div class="budgets__graph-details">
              <div class="budgets__graph-details-top">$338</div>
              <div class="budgets__graph-details-bottom">of $975 limit</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="budgets__categories-container">
    <div class="budgets__categories-container-item">
      <div class="budget__item-header">
        <div class="budget__item-header--left">
          <div class="budget__item-category-color"></div>
          <p>Entertainment</p>
        </div>
        <img src="" />
      </div>
      <div class="budget__item-bar-container">
        <div class="budget__item-maximum">
          <p>Maximum of $50</p>
        </div>
        <div class="budget__item-progress-bar-container">
          <div class="budget__item-progress-bar-fill"></div>
        </div>
        <div class="spent__remaining-container">
          <div class="spent__container">
            <div class="spent__border-color"></div>
            <div class="spent__amount-container">
              <span>Spent</span>
              <p>$15.00</p>
            </div>
          </div>
          <div class="remaining__container">
            <div class="remaining__border-color"></div>
            <div class="remaining__amount-container">
              <span>Remaining</span>
              <p>$35.00</p>
            </div>
          </div>
        </div>
      </div>
      <div class="budget__latest-spending-container">
        <div class="budget__latest-spending-header">
          <p>Latest Spending</p>
          <div>
            <span>See All</span>
            <p>→</p>
          </div>
        </div>
        <div class="budget__latest-spending-body">
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img src="" />
              <p>Starbucks</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$5.00</p>
              <p>11 Aug 2024</p>
            </div>
          </div>
          <div class="budget__transaction-break-line"></div>
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img src="" />
              <p>Regal Cinema</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$30.00</p>
              <p>15 Aug 2024</p>
            </div>
          </div>
          <div class="budget__transaction-break-line"></div>
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img />
              <p>Xbox Gamepass</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$15.00</p>
              <p>20 Aug 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="budgets__categories-container-item">
      <div class="budget__item-header">
        <div class="budget__item-header--left">
          <div class="budget__item-category-color"></div>
          <p>Entertainment</p>
        </div>
        <img src="" />
      </div>
      <div class="budget__item-bar-container">
        <div class="budget__item-maximum">
          <p>Maximum of $50</p>
        </div>
        <div class="budget__item-progress-bar-container">
          <div class="budget__item-progress-bar-fill"></div>
        </div>
        <div class="spent__remaining-container">
          <div class="spent__container">
            <div class="spent__border-color"></div>
            <div class="spent__amount-container">
              <span>Spent</span>
              <p>$15.00</p>
            </div>
          </div>
          <div class="remaining__container">
            <div class="remaining__border-color"></div>
            <div class="remaining__amount-container">
              <span>Remaining</span>
              <p>$35.00</p>
            </div>
          </div>
        </div>
      </div>
      <div class="budget__latest-spending-container">
        <div class="budget__latest-spending-header">
          <p>Latest Spending</p>
          <div>
            <span>See All</span>
            <p>→</p>
          </div>
        </div>
        <div class="budget__latest-spending-body">
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img src="" />
              <p>Starbucks</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$5.00</p>
              <p>11 Aug 2024</p>
            </div>
          </div>
          <div class="budget__transaction-break-line"></div>
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img src="" />
              <p>Regal Cinema</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$30.00</p>
              <p>15 Aug 2024</p>
            </div>
          </div>
          <div class="budget__transaction-break-line"></div>
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img />
              <p>Xbox Gamepass</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$15.00</p>
              <p>20 Aug 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="budgets__categories-container-item">
      <div class="budget__item-header">
        <div class="budget__item-header--left">
          <div class="budget__item-category-color"></div>
          <p>Entertainment</p>
        </div>
        <img src="" />
      </div>
      <div class="budget__item-bar-container">
        <div class="budget__item-maximum">
          <p>Maximum of $50</p>
        </div>
        <div class="budget__item-progress-bar-container">
          <div class="budget__item-progress-bar-fill"></div>
        </div>
        <div class="spent__remaining-container">
          <div class="spent__container">
            <div class="spent__border-color"></div>
            <div class="spent__amount-container">
              <span>Spent</span>
              <p>$15.00</p>
            </div>
          </div>
          <div class="remaining__container">
            <div class="remaining__border-color"></div>
            <div class="remaining__amount-container">
              <span>Remaining</span>
              <p>$35.00</p>
            </div>
          </div>
        </div>
      </div>
      <div class="budget__latest-spending-container">
        <div class="budget__latest-spending-header">
          <p>Latest Spending</p>
          <div>
            <span>See All</span>
            <p>→</p>
          </div>
        </div>
        <div class="budget__latest-spending-body">
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img src="" />
              <p>Starbucks</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$5.00</p>
              <p>11 Aug 2024</p>
            </div>
          </div>
          <div class="budget__transaction-break-line"></div>
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img src="" />
              <p>Regal Cinema</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$30.00</p>
              <p>15 Aug 2024</p>
            </div>
          </div>
          <div class="budget__transaction-break-line"></div>
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img />
              <p>Xbox Gamepass</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$15.00</p>
              <p>20 Aug 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="budgets__categories-container-item">
      <div class="budget__item-header">
        <div class="budget__item-header--left">
          <div class="budget__item-category-color"></div>
          <p>Entertainment</p>
        </div>
        <img src="" />
      </div>
      <div class="budget__item-bar-container">
        <div class="budget__item-maximum">
          <p>Maximum of $50</p>
        </div>
        <div class="budget__item-progress-bar-container">
          <div class="budget__item-progress-bar-fill"></div>
        </div>
        <div class="spent__remaining-container">
          <div class="spent__container">
            <div class="spent__border-color"></div>
            <div class="spent__amount-container">
              <span>Spent</span>
              <p>$15.00</p>
            </div>
          </div>
          <div class="remaining__container">
            <div class="remaining__border-color"></div>
            <div class="remaining__amount-container">
              <span>Remaining</span>
              <p>$35.00</p>
            </div>
          </div>
        </div>
      </div>
      <div class="budget__latest-spending-container">
        <div class="budget__latest-spending-header">
          <p>Latest Spending</p>
          <div>
            <span>See All</span>
            <p>→</p>
          </div>
        </div>
        <div class="budget__latest-spending-body">
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img src="" />
              <p>Starbucks</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$5.00</p>
              <p>11 Aug 2024</p>
            </div>
          </div>
          <div class="budget__transaction-break-line"></div>
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img src="" />
              <p>Regal Cinema</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$30.00</p>
              <p>15 Aug 2024</p>
            </div>
          </div>
          <div class="budget__transaction-break-line"></div>
          <div class="budget__transaction-container">
            <div class="budget__transaction-container-left">
              <img />
              <p>Xbox Gamepass</p>
            </div>
            <div class="budget__transaction-container-right">
              <p>-$15.00</p>
              <p>20 Aug 2024</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
