<header class="dashboard__transactions-header">
  <h3 class="dashboard__transactions-header-title">Transactions</h3>
  <div className="dashboard__transactions-viewall">
    <p>View All</p>
    <span></span>
  </div>
</header>
<div class="dashboard__transactions-table">
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/emma-richardson.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">Emma Richardson</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount negative-transaction">-$400.50</p>
      <span class="dashboard__transaction-date">19 Aug 2024</span>
    </div>
  </div>
  <div class="oti-line"></div>
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/savory-bites-bistro.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">Savory Bites Bistro</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount negative-transaction">-$16.75</p>
      <span class="dashboard__transaction-date">19 Aug 2024</span>
    </div>
  </div>
  <div class="oti-line"></div>
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/daniel-carter.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">Daniel Carter</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount positive-transaction">+$75.50</p>
      <span class="dashboard__transaction-date">19 Aug 2024</span>
    </div>
  </div>
  <div class="oti-line"></div>
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/sun-park.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">Sun Park</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount negative-transaction">-$125.00</p>
      <span class="dashboard__transaction-date">19 Aug 2024</span>
    </div>
  </div>
</div>
