<header class="dashboard__transactions-header">
  <h3 class="dashboard__transactions-header-title">Transactions</h3>
  <div className="dashboard__transactions-viewall">
    <p>View All</p>
    <span></span>
  </div>
</header>
<div class="dashboard__transactions-table">
  <!-- If transaction cards were fetched from the database -->
  @if (dashboardTransactions.length > 0) {
  <!-- Render each transaction card -->
  @for (transaction of dashboardTransactions; track transaction.id) {
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/emma-richardson.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">{{ transaction.description }}</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount negative-transaction">
        {{
          transaction.type === "INCOME"
            ? "+$" + transaction.amount
            : "-$" + transaction.amount
        }}
      </p>
      <span class="dashboard__transaction-date">{{
        formatDate(transaction.createdAt)
      }}</span>
    </div>
  </div>
  <div class="oti-line"></div>
  } }
  <!-- If transaction cards not fetched from the database -->
  @else { @for (loadingCard of loadingCards; track loadingCard) {
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img class="dashboard__transaction-image skeleton" alt="" />
      <div class="skeleton skeleton-title"></div>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <div class="skeleton skeleton-text"></div>
      <div class="skeleton skeleton-text"></div>
    </div>
  </div>
  <div class="oti-line"></div>
  } }
</div>

<!--  -->
<!-- <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/emma-richardson.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">Emma Richardson</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount negative-transaction">-$400.50</p>
      <span class="dashboard__transaction-date">19 Aug 2024</span>
    </div>
  </div>
  <div class="oti-line"></div>
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/savory-bites-bistro.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">Savory Bites Bistro</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount negative-transaction">-$16.75</p>
      <span class="dashboard__transaction-date">19 Aug 2024</span>
    </div>
  </div>
  <div class="oti-line"></div>
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/daniel-carter.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">Daniel Carter</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount positive-transaction">+$75.50</p>
      <span class="dashboard__transaction-date">19 Aug 2024</span>
    </div>
  </div>
  <div class="oti-line"></div>
  <div class="dashboard__transactions-table-transaction">
    <div class="dashboard__transactions-table-transaction-left">
      <img
        class="dashboard__transaction-image"
        src="images/avatars/sun-park.jpg"
        alt=""
      />
      <p class="dashboard__transaction-name">Sun Park</p>
    </div>
    <div class="dashboard__transactions-table-transaction-right">
      <p class="dashboard__transaction-amount negative-transaction">-$125.00</p>
      <span class="dashboard__transaction-date">19 Aug 2024</span>
    </div>
  </div> -->
