<div class="dashboard__budget-header">
  <h3 class="dashboard__budget-header-amount">Budgets</h3>
  <p class="dashboard__budget-header-details">See Details</p>
</div>
<div class="dashboard__budget-content">
  <div class="dashboard__budget-content-left">
    <div class="dashboard_budget-graph--outer">
      <div class="dashboard_budget-graph--middle">
        <div class="dashboard_budget-graph--inner">
          <div class="dashboard_budget-graph-data">
            <h4 class="dashboard_budget-graph-data-amount">$338</h4>
            <p class="dashboard_budget-graph-data-limit">of $500 limit</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard__budget-content-right">
    <div class="dashboard__budget-category-container">
      <div class="dashboard__budget-category-border"></div>
      <div class="dashboard__budget-category-details">
        <div class="dashboard__budget-category-name">Entertainment</div>
        <div class="dashboard__budget-category-amount">$50.00</div>
      </div>
    </div>
    <div class="dashboard__budget-category-container">
      <div class="dashboard__budget-category-border"></div>
      <div class="dashboard__budget-category-details">
        <div class="dashboard__budget-category-name">Utilities</div>
        <div class="dashboard__budget-category-amount">$530.00</div>
      </div>
    </div>
    <div class="dashboard__budget-category-container">
      <div class="dashboard__budget-category-border"></div>
      <div class="dashboard__budget-category-details">
        <div class="dashboard__budget-category-name">Rent</div>
        <div class="dashboard__budget-category-amount">$2100.00</div>
      </div>
    </div>
    <div class="dashboard__budget-category-container">
      <div class="dashboard__budget-category-border"></div>
      <div class="dashboard__budget-category-details">
        <div class="dashboard__budget-category-name">Auto</div>
        <div class="dashboard__budget-category-amount">$540.00</div>
      </div>
    </div>
  </div>
</div>
