<header class="dashboard__header">
  <h1 class="dashboard__header-title">Dashboard</h1>
</header>
<div class="main-content__container">
  <div class="main-content__summary">
    <div class="main-content__summary-item">
      <h4 class="main-content__summary-item-title">Current Balance</h4>
      <p class="main-content__summary-item-amount">$4,836.00</p>
    </div>
    <div class="main-content__summary-item">
      <h4 class="main-content__summary-item-title">Income</h4>
      <p class="main-content__summary-item-amount">$3,254.00</p>
    </div>
    <div class="main-content__summary-item">
      <h4 class="main-content__summary-item-title">Expenses</h4>
      <p class="main-content__summary-item-amount">$1,824.00</p>
    </div>
  </div>
  <div class="additionals-section">
    <div class="additionals-section__left">
      <div class="dashboard__sinking-funds">
        <header class="dashboard__sinking-funds-header">
          <h3 class="dashboard__sinking-funds-header-title">Sinking Funds</h3>
          <p class="dashboard__sinking-funds-header-details">See Details</p>
        </header>
        <div class="dashboard__sinking-funds-info">
          <div class="dashboard__sinking-funds-info-total-saved">
            <img
              class="dashboard__sinking-funds-info-total-saved-icon"
              src="images/icon-pot.svg"
            />
            <div class="dashboard__sinking-funds-info-total-saved-info">
              <p class="dashboard__sinking-funds-info-total-saved-info-title">
                Total Saved
              </p>
              <span
                class="dashboard__sinking-funds-info-total-saved-info-amount"
                >$850.00</span
              >
            </div>
          </div>
          <div class="dashboard__sinking-funds-info-categories">
            <div class="dashboard__sinking-categories-top">
              <div class="dashboard__sinking-categories-top-left">
                <div class="dashboard__sinking-item-border one"></div>
                <div class="dashboard__sinking-item">
                  <p class="dashboard__sinking-item-title">Savings</p>
                  <span class="dashboard__sinking-item-amount">$159.00</span>
                </div>
              </div>
              <div class="dashboard__sinking-categories-top-right">
                <div class="dashboard__sinking-item-border two"></div>
                <div class="dashboard__sinking-item">
                  <p class="dashboard__sinking-item-title">Vacation</p>
                  <span class="dashboard__sinking-item-amount">$50.00</span>
                </div>
              </div>
            </div>
            <div class="dashboard__sinking-categories-bottom">
              <div class="dashboard__sinking-categories-bottom-left">
                <div class="dashboard__sinking-item-border one"></div>
                <div class="dashboard__sinking-item">
                  <p class="dashboard__sinking-item-title">Car Repairs</p>
                  <span class="dashboard__sinking-item-amount">$900.00</span>
                </div>
              </div>
              <div class="dashboard__sinking-categories-bottom-right">
                <div class="dashboard__sinking-item-border two"></div>
                <div class="dashboard__sinking-item">
                  <p class="dashboard__sinking-item-title">Holidays</p>
                  <span class="dashboard__sinking-item-amount">$650.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard__transactions">
        <header class="dashboard__transactions-header">
          <h3 class="dashboard__transactions-header-title">Transactions</h3>
          <div className="dashboard__transactions-viewall">
            <p>View All</p>
            <span></span>
          </div>
        </header>
        <div class="dashboard__transactions-table">
          <div class="dashboard__transactions-table-transaction">
            <div class="dashboard__transactions-table-transaction-left">
              <img
                class="dashboard__transaction-image"
                src="images/avatars/emma-richardson.jpg"
                alt=""
              />
              <p class="dashboard__transaction-name">Emma Richardson</p>
            </div>
            <div class="dashboard__transactions-table-transaction-right">
              <p class="dashboard__transaction-amount negative-transaction">
                -$400.50
              </p>
              <span class="dashboard__transaction-date">19 Aug 2024</span>
            </div>
          </div>
          <div class="oti-line"></div>
          <div class="dashboard__transactions-table-transaction">
            <div class="dashboard__transactions-table-transaction-left">
              <img
                class="dashboard__transaction-image"
                src="images/avatars/savory-bites-bistro.jpg"
                alt=""
              />
              <p class="dashboard__transaction-name">Savory Bites Bistro</p>
            </div>
            <div class="dashboard__transactions-table-transaction-right">
              <p class="dashboard__transaction-amount negative-transaction">
                -$16.75
              </p>
              <span class="dashboard__transaction-date">19 Aug 2024</span>
            </div>
          </div>
          <div class="oti-line"></div>
          <div class="dashboard__transactions-table-transaction">
            <div class="dashboard__transactions-table-transaction-left">
              <img
                class="dashboard__transaction-image"
                src="images/avatars/daniel-carter.jpg"
                alt=""
              />
              <p class="dashboard__transaction-name">Daniel Carter</p>
            </div>
            <div class="dashboard__transactions-table-transaction-right">
              <p class="dashboard__transaction-amount positive-transaction">
                +$75.50
              </p>
              <span class="dashboard__transaction-date">19 Aug 2024</span>
            </div>
          </div>
          <div class="oti-line"></div>
          <div class="dashboard__transactions-table-transaction">
            <div class="dashboard__transactions-table-transaction-left">
              <img
                class="dashboard__transaction-image"
                src="images/avatars/sun-park.jpg"
                alt=""
              />
              <p class="dashboard__transaction-name">Sun Park</p>
            </div>
            <div class="dashboard__transactions-table-transaction-right">
              <p class="dashboard__transaction-amount negative-transaction">
                -$125.00
              </p>
              <span class="dashboard__transaction-date">19 Aug 2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="additionals-section__right">
      <div class="dashboard-budget">
        <div class="dashboard__budget-header">
          <h3 class="dashboard__budget-header-amount">Budgets</h3>
          <p class="dashboard__budget-header-details">See Details</p>
        </div>
        <div class="dashboard__budget-content">
          <div class="dashboard__budget-content-left">
            <div class="dashboard_budget-graph--outer">
              <div class="dashboard_budget-graph--middle">
                <div class="dashboard_budget-graph--inner">
                  <div class="dashboard_budget-graph-data">
                    <h4 class="dashboard_budget-graph-data-amount">$338</h4>
                    <p class="dashboard_budget-graph-data-limit">
                      of $500 limit
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dashboard__budget-content-right">
            <div class="dashboard__budget-category-container">
              <div class="dashboard__budget-category-border"></div>
              <div class="dashboard__budget-category-details">
                <div class="dashboard__budget-category-name">Entertainment</div>
                <div class="dashboard__budget-category-amount">$50.00</div>
              </div>
            </div>
            <div class="dashboard__budget-category-container">
              <div class="dashboard__budget-category-border"></div>
              <div class="dashboard__budget-category-details">
                <div class="dashboard__budget-category-name">Utilities</div>
                <div class="dashboard__budget-category-amount">$530.00</div>
              </div>
            </div>
            <div class="dashboard__budget-category-container">
              <div class="dashboard__budget-category-border"></div>
              <div class="dashboard__budget-category-details">
                <div class="dashboard__budget-category-name">Rent</div>
                <div class="dashboard__budget-category-amount">$2100.00</div>
              </div>
            </div>
            <div class="dashboard__budget-category-container">
              <div class="dashboard__budget-category-border"></div>
              <div class="dashboard__budget-category-details">
                <div class="dashboard__budget-category-name">Auto</div>
                <div class="dashboard__budget-category-amount">$540.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dashboard__upcoming-payments">
        <div class="dashboard__upcoming-payments-header">
          <h3 class="dashboard__upcoming-payments-header-title">
            Upcoming Payments
          </h3>
          <div class="dashboard__upcoming-payments-header-details-container">
            <p class="dashboard__upcoming-payments-header-details">
              See Details
            </p>
            <span class="dashboard__upcoming-payments-header-details-arrow"
              >x</span
            >
          </div>
        </div>
        <div class="dashboard__upcoming-payments-content-container">
          <div class="dashboard__upcoming-payments-item">
            <p class="dashboard__upcoming-payments-item-title">Klarna</p>
            <span class="dashboard__upcoming-payments-item-amount"
              >$190.00</span
            >
          </div>
          <div class="dashboard__upcoming-payments-item">
            <p class="dashboard__upcoming-payments-item-title">
              American Express
            </p>
            <span class="dashboard__upcoming-payments-item-amount"
              >$194.98</span
            >
          </div>
          <div class="dashboard__upcoming-payments-item">
            <p class="dashboard__upcoming-payments-item-title">Verizon</p>
            <span class="dashboard__upcoming-payments-item-amount">$59.48</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
