:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: auto;
  // height: fit-content;
  // min-height: 1075px;
  box-sizing: border-box; /* Includes padding in the width */
  background-color: inherit;
  // overflow: scroll;

  .dashboard__header {
    display: flex;
    align-items: center;
    width: 100%;
    // max-width: 1060px;
    height: 56px;
    min-height: 56px;
    // font-size: 32px;
    // line-height
    padding: 8px 44px;
    // background-color: red;
    background-color: var(--secondary-bg-beige);
    border-bottom: 1px solid#cecfd3b7;
    position: sticky;

    .dashboard__header-title {
      font-size: 16px;
      color: rgb(69, 69, 94);
      line-height: 120%;
    }
  }

  .main-content__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    gap: 24px;
    padding: 32px;
    width: 100%;
    // height: fit-content;
    // min-height: 1075px;
    position: relative;
    overflow: scroll;
    // background-color: red;
    // header {
    //   width: 100%;
    //   max-width: 1060px;
    //   height: 56px;
    //   min-height: 156px;
    //   // font-size: 32px;
    //   // line-height
    //   // padding: 8px 0px;
    //   background-color: red;
    // }

    .main-content__summary {
      width: 100%;
      max-width: 1060px;
      height: 119px;
      display: flex;
      gap: 24px;
      // border: 1px solid red;

      .main-content__summary-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 11px;
        width: 337.33px;
        width: 33.33%;
        height: 100%;
        padding: 24px;
        border: 1px solid#cecfd3b7;
        border-radius: 6px;
        background-color: var(--secondary-bg-beige);
        box-shadow: 0px 4px 24px 0 #d6d6d658;
        overflow: hidden;

        // h4 {
        //   font-size: 14px;
        //   font-weight: 600;
        //   line-height: 150%;
        //   text-align: left;
        //   color: rgb(69, 69, 94);
        // }

        // p {
        //   font-size: 32px;
        //   font-weight: 800;
        //   line-height: 120%;
        //   text-align: left;
        //   color: rgb(69, 69, 94);
        // }
      }
    }

    .additionals-section {
      display: flex;
      gap: 24px;
      width: 100%;
      max-width: 1060px;
      // min-height: 761px;
      height: auto;
      box-sizing: border-box; /* Includes padding in the width */
      // border: 1px solid red;

      .additionals-section__left {
        display: flex;
        flex-direction: column;
        gap: 24px;
        /* width: 608px; */
        width: 57.36%;
        max-width: 608px;
        height: 100%;
        overflow: hidden;

        .dashboard__sinking-funds {
          display: flex;
          flex-direction: column;
          gap: 20px;
          // height: 218px;
          height: 198px;
          padding: 24px;
          border: 1px solid#cecfd3b7;
          border-radius: 6px;
          background-color: var(--secondary-bg-beige);
          box-shadow: 0px 4px 24px 0 #d6d6d658;

          .dashboard__sinking-funds-header {
            display: flex;
            justify-content: space-between;
            height: 24px;

            .dashboard__sinking-funds-header-title {
              font-size: 20px;
              line-height: 120%;
              color: rgb(69, 69, 94);
            }

            .dashboard__sinking-funds-header-details {
              font-size: 14px;
              line-height: 150%;
              color: rgb(69, 69, 94);
            }
          }

          .dashboard__sinking-funds-info {
            display: flex;
            gap: 20px;
            height: 110px;
            // border: 1px solid red;

            .dashboard__sinking-funds-info-total-saved {
              display: flex;
              align-items: center;
              gap: 16px;
              width: 247px;
              padding: 16px;
              background-color: var(--primary-bg-beige);
              border-radius: 8px;
              border: 1px solid #cecfd3b7;

              .dashboard__sinking-funds-info-total-saved-icon {
                height: 34px;
                width: 34px;
              }

              .dashboard__sinking-funds-info-total-saved-info {
                display: flex;
                flex-direction: column;
                gap: 10px;
                height: 64px;
                width: 100%;
                // border: 1px solid blue;

                .dashboard__sinking-funds-info-total-saved-info-title {
                  height: 21px;
                  width: 100%;
                  // font-size: 14px;
                  font-weight: 700;
                  line-height: 150%;
                  // color: rgb(69, 69, 94);
                  // border: 1px solid red;
                }

                .dashboard__sinking-funds-info-total-saved-info-amount {
                  // height: 86px;
                  width: 100%;
                  font-size: 22px;
                  font-weight: 700;
                  // line-height: 120%;
                  color: rgb(69, 69, 94);
                  // border: 1px solid green;
                }
              }
            }

            .dashboard__sinking-funds-info-categories {
              display: flex;
              flex-direction: column;
              gap: 16px;
              width: 277px;
              height: 102px;
              // border: 1px solid red;

              .dashboard__sinking-categories-top,
              .dashboard__sinking-categories-bottom {
                display: flex;
                height: 43px;
                width: 277px;
              }

              .dashboard__sinking-categories-top-left,
              .dashboard__sinking-categories-top-right,
              .dashboard__sinking-categories-bottom-left,
              .dashboard__sinking-categories-bottom-right {
                display: flex;
                gap: 16px;
                width: 130.5px;
              }

              // GLOBAl dashboard_item styless  -  START
              .dashboard__sinking-item-border {
                width: 4px;
                height: 100%;
                border-radius: 8px;
              }

              .dashboard__sinking-item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                width: 90px;
              }

              .dashboard__sinking-item-title {
                font-size: 12px;
                font-weight: var(--font-regular);
                color: var(--color-grey-500);
                line-height: 150%;
              }

              .dashboard__sinking-item-amount {
                font-size: 14px;
                font-weight: 700;
                color: var(--color-grey-900);
                line-height: 150%;
              }

              // GLOBAl dashboard_item styless  -  END

              .dashboard__sinking-categories-top-left {
                .dashboard__sinking-item-border.one {
                  background-color: var(--color-dark-green);
                }
              }

              .dashboard__sinking-categories-top-right {
                .dashboard__sinking-item-border.two {
                  background-color: var(--color-cyan);
                }
              }

              .dashboard__sinking-categories-bottom-left {
                .dashboard__sinking-item-border.one {
                  background-color: var(--color-yellow);
                }
              }

              .dashboard__sinking-categories-bottom-right {
                .dashboard__sinking-item-border.two {
                  background-color: var(--color-navy);
                }
              }
            }
          }
        }

        .dashboard__transactions {
          display: flex;
          flex-direction: column;
          gap: 28px;
          /* width: 608px; */
          width: 100%;
          // height: 519px;
          height: 340px;
          padding: 24px;
          border: 1px solid #cecfd3b7;
          border-radius: 6px;
          background-color: var(--secondary-bg-beige);
          box-shadow: 0px 4px 24px 0px #d6d6d658;

          .dashboard__transactions-header {
            display: flex;
            justify-content: space-between;
            /* width: 544px; */
            height: 24px;

            .dashboard__transactions-header-title {
            }

            .dashboard__transactions-viewall {
            }
          }

          .dashboard__transactions-table {
            display: flex;
            gap: 11px;
            flex-direction: column;
            /* width: 544px; */
            height: 310px;
            // border: 1px solid red;

            .dashboard__transactions-table-transaction {
              display: flex;
              // align-items: center;
              width: 100%;
              /* width: 544px; */
              height: 43px;
              // border: 1px solid red;

              .dashboard__transactions-table-transaction-left {
                display: flex;
                align-items: center;
                gap: 16px;
                /* width: 474px; */
                width: 100%;
                height: 47px;
                // border: 1px solid blue;

                .dashboard__transaction-image {
                  width: 36px;
                  height: 36px;
                  border-radius: 50%;
                }

                .dashboard__transaction-name {
                  width: 60%;
                  height: 21px;
                  color: rgb(69, 69, 94);
                  font-size: 14px;
                  line-height: 150%;
                  font-weight: 700;
                  text-align: start;
                }
              }

              .dashboard__transactions-table-transaction-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3px;
                width: 170px;
                height: 42px;
                // border: 1px solid red;
                text-align: end;

                .dashboard__transaction-amount {
                  font-size: 14px;
                  line-height: 150%;
                  font-weight: 700;

                  &.positive-transaction {
                    color: rgb(9, 158, 9);
                  }

                  &.negative-transaction {
                    color: rgb(236, 37, 37);
                  }
                }

                .dashboard__transaction-date {
                  width: 100%;
                  height: 16px;
                  color: rgb(119, 119, 123);
                  font-size: 12px;
                  line-height: 150%;
                  // border: 1px solid red;
                }
              }
            }

            .oti-line {
              min-width: 100%;
              min-height: 1px;
              background-color: var(--color-grey-100);
              background-color: #e0e1e7b7;
            }
          }
        }
      }
      .additionals-section__right {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 42.64%;
        max-width: 428px;
        height: 100%;
        overflow: hidden;
        // border: 1px solid red;

        .dashboard-budget {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 100%;
          height: 330px;
          padding: 24px;
          background-color: var(--secondary-bg-beige);
          border: 1px solid#cecfd3b7;
          border-radius: 6px;
          box-shadow: 0px 4px 24px 0px #d6d6d658;

          .dashboard__budget-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 24px;

            .dashboard__budget-header-amount {
              font-size: 20px;
              line-height: 120%;
              color: var(--color-grey-900);
            }

            .dashboard__budget-header-details {
              font-size: 14px;
              line-height: 150%;
              color: var(--color-grey-500);
            }
          }

          .dashboard__budget-content {
            display: flex;
            align-items: center;
            gap: 16px;
            width: 100%;
            /* width: 364px; */
            height: 302px;
            padding: 8px 0px;

            .dashboard__budget-content-left {
              display: flex;
              justify-content: center;
              gap: 8px;
              width: 248px;
              height: 240px;
              position: relative;

              .dashboard_budget-graph--outer {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 240px;
                height: 240px;
                background-color: rgb(168, 213, 227);
                border-radius: 50%;
                position: absolute;
                z-index: 1;

                .dashboard_budget-graph--middle {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 187.5px;
                  height: 187.5px;
                  background-color: rgba(
                    255,
                    255,
                    255,
                    0.3
                  ); /* 0.3 opacity prevents the opacity from affecting the child element - inner-pie-graph */
                  border-radius: 50%;
                  position: absolute;
                  z-index: 2;

                  .dashboard_budget-graph--inner {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 162px;
                    height: 162px;
                    background-color: #fff;
                    border-radius: 50%;
                    position: absolute;
                    z-index: 4;

                    .dashboard_budget-graph-data {
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      gap: 4px;
                      width: 86px;
                      height: 64px;

                      .dashboard_budget-graph-data-amount {
                        width: 86px;
                        height: 38px;
                        color: var(--color-grey-900);
                        font-size: 32px;
                        font-weight: var(--font-bold);
                        line-height: 120%;
                      }

                      .dashboard_budget-graph-data-limit {
                        width: 73px;
                        height: 18px;
                        color: var(--color-grey-500);
                        font-size: 12px;
                        line-height: 150%;
                      }
                    }
                  }
                }
              }
            }

            .dashboard__budget-content-right {
              display: flex;
              gap: 16px;
              width: 101px;
              height: 220px;
              flex-direction: column;

              .dashboard__budget-category-container {
                display: flex;
                gap: 16px;
                width: 101px;
                height: 43px;

                .dashboard__budget-category-border {
                  width: 4px;
                  height: 43px;
                  background-color: var(--color-cyan);
                  border-radius: 8px;
                }

                .dashboard__budget-category-details {
                  display: flex;
                  flex-direction: column;
                  gap: 4px;
                  width: 81px;
                  height: 43px;
                  text-align: start;

                  .dashboard__budget-category-name {
                    width: 80px;
                    height: 18px;
                    color: var(--color-grey-500);
                    font-size: 12px;
                    line-height: 150%;
                  }

                  .dashboard__budget-category-amount {
                    width: 50px;
                    height: 21px;
                    color: var(--color-grey-900);
                    font-size: 14px;
                    font-weight: var(--font-bold);
                    line-height: 150%;
                  }
                }
              }
            }
          }
        }

        .dashboard__upcoming-payments {
          display: flex;
          flex-direction: column;
          gap: 18px;
          width: 100%;
          height: 208px;
          padding: 24px;
          background-color: var(--secondary-bg-beige);
          border: 1px solid#cecfd3b7;
          border-radius: 6px;
          box-shadow: 0px 4px 24px 0px #d6d6d658;

          .dashboard__upcoming-payments-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 24px;

            .dashboard__upcoming-payments-header-title {
              width: 200px;
              height: 24px;
              font-size: 20px;
              font-weight: var(--font-bold);
              line-height: 120%;
              color: var(--color-grey-900);
            }

            .dashboard__upcoming-payments-header-details-container {
              display: flex;
              gap: 12px;
              width: 98px;
              height: 21px;

              .dashboard__upcoming-payments-header-details {
                width: 74px;
                height: 21px;
                font-size: 14px;
                line-height: 150%;
                color: var(--color-grey-500);
              }

              .dashboard__upcoming-payments-header-details-arrow {
                width: 8px;
                height: 5px;
                color: var(--color-grey-500);
              }
            }
          }

          .dashboard__upcoming-payments-content-container {
            display: flex;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            height: 207px;

            .dashboard__upcoming-payments-item {
              display: flex;
              justify-content: space-between;
              width: 100%;
              // height: px;
              padding: 5px 16px;
              background-color: var(--primary-bg-beige);
              border: 1px solid#cecfd3b7;
              border-radius: 8px;
              border-left: 4px solid var(--color-dark-green);

              .dashboard__upcoming-payments-item-title {
                width: 115px;
                height: 21px;
                font-size: 14px;
                line-height: 150%;
                text-align: start;
                color: var(--color-grey-500);
              }

              .dashboard__upcoming-payments-item-amount {
                font-size: 12px;
                font-weight: 700;
                line-height: 180%;
              }
            }
          }
        }
      }
    }
  }
}
