:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0; // allow it to shrink correctly
  height: auto;
  box-sizing: border-box;
  width: 100%;
  background-color: inherit;
  overflow: scroll;

  .sinking-funds__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // max-width: 1060px;
    height: 56px;
    min-height: 56px;
    padding: 8px 44px;
    background-color: var(--secondary-bg-beige);
    border-bottom: 1px solid var(--primary-border);
    position: sticky;

    h1 {
      font-size: 16px;
      color: var(--primary-dark-navy);
      line-height: 120%;
    }

    button {
    }
  }
}
