<dialog #myDialog class="sinking-funds__modal--backdrop">
  <div class="sinking-funds__modal--add-new">
    <header class="sinking-funds__modal--add-new__header-container">
      <h1 class="sinking-funds__modal--add-new__header-title">Add New Fund</h1>
      <i
        (click)="closeDialog()"
        class="fa-solid fa-circle-xmark sinking-funds__modal--add-new__header-icon"
      ></i>
    </header>
    <div class="sinking-funds__modal--add-new__sub-header">
      Create a pot to set savings targets. These can help keep you on track as
      you save for special purchases.
    </div>
    <form class="sinking-funds__modal--add-new__form">
      <div class="sinking-funds__modal--add-new__form-fund-name-container">
        <label class="sinking-funds__modal--add-new__form-fund-name-label"
          >Fund Name</label
        >
        <input
          placeholder="e.g. Christmas"
          class="sinking-funds__modal--add-new__form-fund-name-input"
        />
        <span class="sinking-funds__modal--add-new__form-fund-name-span"
          >30 Characters left</span
        >
      </div>
      <div class="sinking-funds__modal--add-new__form-target-amt-container">
        <label class="sinking-funds__modal--add-new__form-target-amt-label"
          >Target</label
        >
        <input
          placeholder="$  e.g. 2000"
          class="sinking-funds__modal--add-new__form-target-amt-input"
        />
      </div>
      <div class="sinking-funds__modal--add-new__form-fund-theme-container">
        <label
          for="sinking-fund-themes"
          class="sinking-funds__modal--add-new__form-fund-theme-label"
          >Theme</label
        >
        <div
          class="sinking-funds__modal--add-new__form-fund-theme-input-container"
        >
          <select
            class="sinking-funds__modal--add-new__form-fund-theme-input"
            name="sinking-fund-themes"
          >
            <option value="#82c9d7">Cyan</option>
            <option value="#f48fb1">Pink</option>
            <option value="#aed581">Green</option>
            <option value="#ffb74d" selected>Orange</option>
            <option value="#90caf9">Light Blue</option>
            <option value="#ce93d8">Purple</option>
            <option value="#ffffff">White</option>
            <option value="#000000">Black</option>
          </select>
          <i class="fa-solid fa-caret-down"></i>
        </div>
      </div>
    </form>
    <button
      (click)="closeDialog()"
      class="sinking-funds__modal--add-new__button"
    >
      Add Fund
    </button>
  </div>
</dialog>
