<header>
  <h2>moneyhub</h2>
</header>
<nav>
  <a href="/">
    <div>
      <i class="fa-solid fa-house"></i>
      <p>Dashboard</p>
    </div>
  </a>
  <a href="/">
    <div>
      <i class="fa-solid fa-money-bill-transfer"></i>
      <p>Transactions</p>
    </div>
  </a>
  <a href="/">
    <div>
      <i class="fa-solid fa-chart-pie"></i>
      <p>Budgets</p>
    </div>
  </a>
  <a href="/">
    <div>
      <i class="fa-solid fa-envelope"></i>
      <p>Sinking Funds</p>
    </div>
  </a>
  <a href="/">
    <div>
      <i class="fa-solid fa-repeat"></i>
      <p>Recurring Bills</p>
    </div>
  </a>
  <a href="/">
    <div>
      <i class="fa-solid fa-coins"></i>
      <p>Investments</p>
    </div>
  </a>
  <a href="/">
    <div>
      <i class="fa-solid fa-arrow-trend-up"></i>
      <p>Stocks</p>
    </div>
  </a>
  <!-- <a href="/">
    <div>
      <span>M</span>
      <p>Crypto</p>
    </div>
  </a>
  <a href="/">
    <div>
      <span>M</span>
      <p>News</p>
    </div>
  </a> -->
</nav>

<footer>
  <div><-</div>
  <button (click)="toggleSidebar()">Minimize Menu</button>
</footer>

<!-- <footer onClick={() => setSidebarOpen(!sidebarOpen)}>
  <img
    className={sidebarOpen ? '' : 'menu-closed'}
    src={sidebarMinimizeMenuIcon}
    alt=''
  />
  <p>Minimize Menu</p>
</footer> -->

<!-- <Link to='/'>
  <div className='sidebar-nav-item'>
    <img
      src={sidebarOverviewIcon}
      alt=''
    />
    <p>Overview</p>
  </div>
</Link> -->
