:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 24px;
  background-color: var(--secondary-bg-beige);
  transition: width 0.3s ease-in-out;
  height: 100%;
  // width: 300px;
  border-right: 1px solid#cecfd3b7;

  &.sidebar-open {
    // background: red;
    width: 260px;
    // height: 100%;
  }

  &.sidebar-closed {
    // You can add styles here later if needed
    width: 88px;
  }

  p,
  h2 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 40px 32px;
    height: 101.76px;

    h2 {
      width: 121px;
      height: 22px;
      color: rgb(69, 69, 94);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 4spx;
    width: 260px;
    height: 600px;
    padding-right: 24px;

    div {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 240px;
      height: 32px;
      padding: 16px 22px;
      color: var(--color-grey-300);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
      cursor: pointer;

      &:hover {
        background-color: rgb(226, 235, 249);
        //color: rgb(242, 246, 251);
      }

      i {
        width: 24px;
        color: rgb(69, 69, 94);
      }

      p {
        width: 172px;
        text-align: start;
        font-size: 13.5px;
        font-weight: 500;
        color: rgb(69, 69, 94);
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 32px;
    width: 260px;
    height: 56px;
    // color: lightgrey;

    button {
      font-size: 13px;
      font-weight: 500;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

/*
footer img {
  transition: transform 0.3s ease-in-out;
}
*/
