<div class="dashboard__upcoming-payments-item">
  <p class="dashboard__upcoming-payments-item-title">Klarna</p>
  <span class="dashboard__upcoming-payments-item-amount">$190.00</span>
</div>
<div class="dashboard__upcoming-payments-item">
  <p class="dashboard__upcoming-payments-item-title">American Express</p>
  <span class="dashboard__upcoming-payments-item-amount">$194.98</span>
</div>
<div class="dashboard__upcoming-payments-item">
  <p class="dashboard__upcoming-payments-item-title">Verizon</p>
  <span class="dashboard__upcoming-payments-item-amount">$59.48</span>
</div>
