<div class="dashboard__upcoming-payments-header">
  <h3 class="dashboard__upcoming-payments-header-title">Upcoming Payments</h3>
  <div class="dashboard__upcoming-payments-header-details-container">
    <p class="dashboard__upcoming-payments-header-details">See Details</p>
    <span class="dashboard__upcoming-payments-header-details-arrow">x</span>
  </div>
</div>
<div class="dashboard__upcoming-payments-content-container">
  <div class="dashboard__upcoming-payments-item">
    <p class="dashboard__upcoming-payments-item-title">Klarna</p>
    <span class="dashboard__upcoming-payments-item-amount">$190.00</span>
  </div>
  <div class="dashboard__upcoming-payments-item">
    <p class="dashboard__upcoming-payments-item-title">American Express</p>
    <span class="dashboard__upcoming-payments-item-amount">$194.98</span>
  </div>
  <div class="dashboard__upcoming-payments-item">
    <p class="dashboard__upcoming-payments-item-title">Verizon</p>
    <span class="dashboard__upcoming-payments-item-amount">$59.48</span>
  </div>
</div>
