<header class="dashboard__sinking-funds-header">
  <h3 class="dashboard__sinking-funds-header-title">Sinking Funds</h3>
  <p class="dashboard__sinking-funds-header-details">See Details</p>
</header>
<div class="dashboard__sinking-funds-info">
  <div class="dashboard__sinking-funds-info-total-saved">
    <img
      class="dashboard__sinking-funds-info-total-saved-icon"
      src="images/icon-pot.svg"
    />
    <div class="dashboard__sinking-funds-info-total-saved-info">
      <p class="dashboard__sinking-funds-info-total-saved-info-title">
        Total Saved
      </p>
      <span class="dashboard__sinking-funds-info-total-saved-info-amount"
        >$850.00</span
      >
    </div>
  </div>
  <div class="dashboard__sinking-funds-info-categories">
    <div class="dashboard__sinking-categories-top">
      <div class="dashboard__sinking-categories-top-left">
        <div class="dashboard__sinking-item-border one"></div>
        <div class="dashboard__sinking-item">
          <p class="dashboard__sinking-item-title">Savings</p>
          <span class="dashboard__sinking-item-amount">$159.00</span>
        </div>
      </div>
      <div class="dashboard__sinking-categories-top-right">
        <div class="dashboard__sinking-item-border two"></div>
        <div class="dashboard__sinking-item">
          <p class="dashboard__sinking-item-title">Vacation</p>
          <span class="dashboard__sinking-item-amount">$50.00</span>
        </div>
      </div>
    </div>
    <div class="dashboard__sinking-categories-bottom">
      <div class="dashboard__sinking-categories-bottom-left">
        <div class="dashboard__sinking-item-border one"></div>
        <div class="dashboard__sinking-item">
          <p class="dashboard__sinking-item-title">Car Repairs</p>
          <span class="dashboard__sinking-item-amount">$900.00</span>
        </div>
      </div>
      <div class="dashboard__sinking-categories-bottom-right">
        <div class="dashboard__sinking-item-border two"></div>
        <div class="dashboard__sinking-item">
          <p class="dashboard__sinking-item-title">Holidays</p>
          <span class="dashboard__sinking-item-amount">$650.00</span>
        </div>
      </div>
    </div>
  </div>
</div>
