:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  // height: 218px;
  height: 198px;
  padding: 24px;
  border: 1px solid#cecfd3b7;
  border-radius: 6px;
  background-color: var(--secondary-bg-beige);
  box-shadow: 0px 4px 24px 0 #d6d6d658;

  .dashboard__sinking-funds-header {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    height: 24px;

    .dashboard__sinking-funds-header-title {
      font-size: 20px;
      line-height: 120%;
      color: rgb(69, 69, 94);
      // border: 1px solid red;
    }

    .db_sinking-fund-edit-icon {
      font-size: 12px;
      // border: 1px solid red;
    }

    .dashboard__sinking-funds-header-details {
      font-size: 14px;
      line-height: 150%;
      color: rgb(69, 69, 94);
      // border: 1px solid red;
      margin-left: auto;
    }
  }

  .dashboard__sinking-funds-info {
    display: flex;
    gap: 20px;
    height: 110px;
    // border: 1px solid red;

    .dashboard__sinking-funds-info-total-saved {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 247px;
      padding: 16px;
      background-color: var(--primary-bg-beige);
      border-radius: 8px;
      border: 1px solid #cecfd3b7;

      .dashboard__sinking-funds-info-total-saved-icon {
        height: 34px;
        width: 34px;
      }

      .dashboard__sinking-funds-info-total-saved-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 64px;
        width: 100%;
        // border: 1px solid blue;

        .dashboard__sinking-funds-info-total-saved-info-title {
          height: 21px;
          width: 100%;
          // font-size: 14px;
          font-weight: 700;
          line-height: 150%;
          // color: rgb(69, 69, 94);
          // border: 1px solid red;
        }

        .dashboard__sinking-funds-info-total-saved-info-amount {
          // height: 86px;
          width: 100%;
          font-size: 22px;
          font-weight: 700;
          // line-height: 120%;
          color: rgb(69, 69, 94);
          // border: 1px solid green;
        }
      }
    }

    .dashboard__sinking-funds-info-categories {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 277px;
      height: 102px;
      // border: 1px solid red;

      .dashboard__sinking-categories-top,
      .dashboard__sinking-categories-bottom {
        display: flex;
        height: 43px;
        width: 277px;
      }

      .dashboard__sinking-categories-top-left,
      .dashboard__sinking-categories-top-right,
      .dashboard__sinking-categories-bottom-left,
      .dashboard__sinking-categories-bottom-right {
        display: flex;
        gap: 16px;
        width: 130.5px;
      }

      // GLOBAl dashboard_item styless  -  START
      .dashboard__sinking-item-border {
        width: 4px;
        height: 100%;
        border-radius: 8px;
      }

      .dashboard__sinking-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        width: 90px;
      }

      .dashboard__sinking-item-title {
        font-size: 12px;
        font-weight: var(--font-regular);
        color: var(--color-grey-500);
        line-height: 150%;
      }

      .dashboard__sinking-item-amount {
        font-size: 14px;
        font-weight: 700;
        color: var(--color-grey-900);
        line-height: 150%;
      }

      // GLOBAl dashboard_item styless  -  END

      .dashboard__sinking-categories-top-left {
        .dashboard__sinking-item-border.one {
          background-color: var(--color-dark-green);
        }
      }

      .dashboard__sinking-categories-top-right {
        .dashboard__sinking-item-border.two {
          background-color: var(--color-cyan);
        }
      }

      .dashboard__sinking-categories-bottom-left {
        .dashboard__sinking-item-border.one {
          background-color: var(--color-yellow);
        }
      }

      .dashboard__sinking-categories-bottom-right {
        .dashboard__sinking-item-border.two {
          background-color: var(--color-navy);
        }
      }
    }
  }
}
